/*Stylesheet for Recipe pages! */

.nav {
    font-size: 20px;
    font-family: 'Courier New';
}

h1,
p {
    text-align: center;
}

h1 {
    font-family: Georgia;
    font-size: 40px;
    color: #006699;
    font-weight: bold;
}

h2 {
    font-family: Verdana;
    font-size: 30px;
    color: #006699;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-family: 'Courier New',
}

li {
    font-size: 19px;
    font-family: Georgia;
    background-color: #cceeff;
}
