/* Style sheet for odin-recipes project */
* {
    text-align: center;
}

h1 {
    font-family: Georgia;
    font-size: 40px;
    color: #006699;
    font-weight: bold;
}

p {
    font-size: 25px;
    font-family: 'Courier New',
}

li {
    display: inline;
}

.recipe-list {
    font-size: 25px;
    font-family: Verdana;
    display: inline;
}